.red{
    background-color: red;
}
.gray{
    background-color: gray;
}
.blue{
    background-color: blue;
}
.post-blog .col{
    /* padding-right: 5px;
    padding-left: 5px; */
    padding-bottom: 26px;
}
.post-blog{
    margin-top:30px;
}
.badge{
    position: absolute;
    top: 23px;
    z-index: 3;
}
.card-date{
    position: absolute;
    bottom: 87px;
    color: white;
    font-size: 9px;
    padding-left: 24px;
}
.card .card-image .card-title{
    line-height: initial;
}

@media only screen and (min-width: 993px){
    .container {
        width: 85%; 
    }
}
